[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flask-testing = "*"
nose = "*"

[packages]
pip = "==18.0"
flask = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
